@model IEnumerable<PartyApp.Models.Party>
@{
    ViewBag.Title = "Home Page";
}

<ul class="parties">
    @foreach (var party in Model)
    {
        <li>
            <div class="date">
                <div>
                    <div class="day">
                        @party.DateTime.ToString("d ")
                    </div>
                </div>
                <div class="month">
                    @party.DateTime.ToString("MMM")
                </div>
            </div>
            <div class="details">
                <span class="party-type">
                    @party.PartyType.Name
                </span>
                <span class="user">
                    Afholdes af: @party.User.Name
                </span>
                <button class="btn btn-default btn-sm pull-right" id="toggle-attendance" data-party-id="@party.Id">Deltag?</button>
            </div>
        </li>
    }
</ul>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#toggle-attendance").click(function (e) {
                var button = $(e.target);

                $.post("/api/attendances", { partyId: button.attr("data-party-id")})
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Deltager");
                })
                .fail(function () {
                    alert("Noget gik galt.");
                });
            })
        });
    </script>
}