@model PartyApp.ViewModels.PartiesViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
<ul class="parties">
    @foreach (var party in Model.UpcomingParties)
    {
        <li>
            <div class="date">
                <div>
                    <div class="day">
                        @party.DateTime.ToString("d ")
                    </div>
                </div>
                <div class="month">
                    @party.DateTime.ToString("MMM")
                </div>
            </div>
            <div class="details">
                <span class="party-type">
                    @party.PartyType.Name
                    @if (Model.ShowActions && !party.IsCanceled)
                    {
                        <button class="btn btn-default btn-sm pull-right toggle-attendance" data-party-id="@party.Id">Deltag?</button>
                    }
                </span>
                <span class="user">
                    Afholdes af: @party.User.Name

                    @if (party.IsCanceled)
                    {
                        <span class="label label-warning">Aflyst!</span>
                    }
                    @if (Model.ShowActions)
                    {
                        <button class="btn btn-link btn-sm toggle-follow" data-user-id="@party.UserId">Follow</button>
                    }
                </span>
            </div>
        </li>
    }
</ul>

@section scripts {
    <script>
        $(document).ready(function() {
            $(".toggle-attendance").click(function (e) {
                var button = $(e.target);

                $.post("/api/attendances", { partyId: button.attr("data-party-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Deltager");
                        console.log("Working!");
                    })
                    .fail(function () {
                        alert("Noget gik galt.");
                    });
            });

            $(".toggle-follow").click(function (e) {
                var button = $(e.target);

                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                        console.log("Working!");
                    })
                    .fail(function () {
                        alert("Noget gik galt.");
                    });
            });
        });
    </script>
}