@model IEnumerable<PartyApp.Models.Party>
@{
    ViewBag.Title = "Mine Fester";
}

<h2>Mine Fester</h2>

<ul class="parties">
    @foreach (var party in Model)
    {
        <li>
            <div class="date">
                <div>
                    <div class="day">
                        @party.DateTime.ToString("d ")
                    </div>
                </div>
                <div class="month">
                    @party.DateTime.ToString("MMM")
                </div>
            </div>
            <div class="details">
                <span class="party-type">
                    @party.PartyType.Name
                </span>
                <span class="user">
                    By: @party.Location
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Parties", new { id = party.Id })">Rediger</a>
                </div>
            </div>
        </li>
    }
</ul>